/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/eot/JetBrainsMono-Regular.eot') format('embedded-opentype'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff/JetBrainsMono-Regular.woff') format('woff'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.bts-navbar {
    /*background: #1c8c3b;*/
    background: #85cc57;
    padding: 0rem 0.25rem;
}

.navbar-brand.mb-0 i {
    text-decoration: underline;
    font-style: normal;
    font-weight: 200;
}

.bts-body {
    padding-top: 2.25rem;
    padding-left: 0;
    padding-right: 0;
    background: #ffffff;
    min-height: inherit;
}

.bts-container-fluid {
    padding-left: 0;
    padding-right: 0;
    min-height: inherit;
}

.bts-container-fluid .bts-container-row,
.bts-container-fluid .bts-container-col {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    height: inherit;
    width: 100%;
}

.bts-content-area {
    padding: 2rem 0.3rem !important;
}

.bts-card {
    padding: 0;
}

.bts-card .bts-card-header,
.bts-card .bts-card-body {
    padding: .4rem 0.75rem;
}

.bts-card .bts-card-body {
    padding-bottom: 0;
}

.bts-card .bts-card-header .bts-card-title {
    font-weight: bold;
}

.bts-table {
    font-size: 0.80rem;
}

.bts-table thead th {
    border-bottom: 0;
    border-top: 0;
}

.bts-table tbody tr:hover {
    cursor: pointer;
}

.bts-nav-list-group {
    background: #094582;
    height: inherit;
    border-radius: 0;
    color: #f0f0f0;
}

.bts-nav-list-group .bts-nav-list-group-item {
    padding: 0.5rem 0.75rem;
    font-size: 0.85rem;
    border-radius: inherit;
    background: inherit;
    border: 0;
}

.bts-nav-list-group .bts-nav-list-group-item:hover {
    background: #0a3969;
    cursor: pointer;
}

.btn-sm {
    font-size: .75rem;
    line-height: 1.2;
}

.bts-item-title {
    font-weight: 500;
}

.bts-nav-list-group-item.active {
    background: #083058;
}

.bts-textarea {
    overflow: auto;
    outline: none;
    display: block;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    min-height: 80px;
    resize: none;
}



.form-control:focus {
    box-shadow: none;
}

/** Post styles **/
.bts-post > .bts-post-body .bts-post-item {
    padding-bottom: 1rem;
}

.bts-post > .bts-post-body .bts-post-item:last-child {
    padding-bottom: 0;
}

.bts-post > .bts-post-body .bts-post-item .bts-post-title {
    font-size: 2.75rem;
    font-weight: 800;
    /*color: #0f5dab !important;*/
}

.bts-post > .bts-post-body .bts-post-item .bts-post-metaTitle {
    font-size: 1.3rem;
    font-weight: 300;
    padding: 0;
    /*color: #0f5dab !important;*/
}

.bts-post > .bts-post-body .bts-post-item .bts-post-summary {
    font-size: 1.1rem;
    font-weight: 300;
    color: #000000;
    padding: 0;
}

.bts-post .bts-post-body .bts-post-item .bts-post-content h1 {
    font-size: 2.25rem !important;
}

.bts-post .bts-post-body .bts-post-item .bts-post-content h2,
.bts-post .bts-post-body .bts-post-item .bts-post-content h3,
.bts-post .bts-post-body .bts-post-item .bts-post-content h4,
.bts-post .bts-post-body .bts-post-item .bts-post-content h5,
.bts-post .bts-post-body .bts-post-item .bts-post-content h6 {
    font-weight: 300;
}

.bts-post .bts-post-body .bts-post-item .bts-post-content h2 {
    font-size: 1.85rem !important;
}

.bts-post .bts-post-body .bts-post-item .bts-post-content h3 {
    font-size: 1.65rem !important;
}

.bts-post .bts-post-body .bts-post-item .bts-post-content h4 {
    font-size: 1.4rem !important;
}

.bts-post .bts-post-body .bts-post-item .bts-post-content h5 {
    font-size: 1.25rem !important;
}

.bts-post .bts-post-body .bts-post-item .bts-post-content h6 {
    font-size: 1.05rem !important;
}

.bts-post .bts-post-body .bts-post-item .bts-post-content * code {
    color: #1c8c3b;
    word-break: break-word;
    /*background-color: #e9f9ed;*/
    padding: 0.1rem 0.2rem;
    border-radius: 1px;
    /*border: 1px solid #eceeef;*/
    -webkit-font-feature-settings: "liga" on, "calt" on;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'JetBrains Mono';
}

.bts-post .bts-post-body .bts-post-item .bts-post-content * .hljs-section,
.bts-post .bts-post-body .bts-post-item .bts-post-content * .hljs-title,
.bts-post .bts-post-body .bts-post-item .bts-post-content * .hljs-params,
.bts-post .bts-post-body .bts-post-item .bts-post-content * .hljs-ln-code {
    color: #1f1d1d;
    font-weight: 400;
}

.bts-post .bts-post-body .bts-post-item .bts-post-content * .hljs-keyword,
.bts-post .bts-post-body .bts-post-item .bts-post-content * .hljs-string,
.bts-post .bts-post-body .bts-post-item .bts-post-content * .hljs-tag {
    color: #1c8c3b;
}

.bts-post .bts-post-body .bts-post-item .bts-post-content a {
    font-weight: 500;
    border-bottom: 1px solid #ebf2f9;
    color: #0f5dab;
    background-color: transparent;
}

.bts-post .bts-post-body .bts-post-item .bts-post-content a:hover {
    border-bottom: 1px solid #0f5dab;
    text-decoration: none;
}

.bts-post .bts-post-body .bts-post-item .bts-post-content * code.hljs {
    border-radius: 0;
    border: 0;
    background-color: #ffffff;
}

.blockquote {
    margin: 0;
    padding: 1rem;
    border: 1px solid #eceeef;
    border-radius: 2px;
    background: #f3f5f7;
    font-size: 0.85rem;
    color: #0b4177;
}

.blockquote p {
    margin-bottom: 0;
}

/** highlight js customizations **/
.hljs {
    background: #ffffff;
}

.hljs-ln-numbers {
    border-right: 2px solid #85CC57;
}

.hljs-ln-n {
    margin-right: 12px !important;
}

.hljs-ln-code {
    padding-left: 12px !important;
}

/****** Tests *********/
.spring-color-pallette .primary {
    color: #6DB33F;
    color: #80EA6E;
}

.bts-post .bts-post-body .bts-post-item .bts-post-content.bts-post-series-content h1 {
    font-size: 2rem !important;
    font-weight: 300;
}

.bts-post .bts-post-body .bts-post-item .bts-post-content.bts-post-series-content a {
    color: #1c8c3b;
    border: none;
    font-weight: 400;
}

.bts-post .bts-post-body .bts-post-item .bts-post-content.bts-post-series-content a:hover {
    text-decoration: underline;
}

.bts-post .bts-post-body .bts-post-item .bts-post-content.bts-post-series-content ul {
    list-style-type: circle;
    padding: 0.5rem 0rem 0.5rem 2rem;
}

/**************** css *******************/
.form-control {
    padding: 0.25rem 0.5rem;
    font-size: 0.85rem;
    line-height: 1.25;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 0;
    color: #000000;
}

.form-control:focus {
    box-shadow: none;
}

textarea.form-control {
    overflow: auto;
    outline: none;
    display: block;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    min-height: 60px;
    resize: none;
}

.cs-ad-brand {
    margin-left: 1rem;
    color: #ffffff;
    -webkit-font-feature-settings: "liga" on, "calt" on;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'JetBrains Mono';
    font-weight: 600;
}
.cs-ad-body, .cs-ad-body-login {
    padding-left: 0;
    padding-right: 0;
    /*background: #f0f0f0;*/
    min-height: inherit;
    height: inherit;
    font-size: 0.85rem;
    /*-webkit-font-feature-settings: "liga" on, "calt" on;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'JetBrains Mono';*/
}

.cs-ad-sidenav {
    height: 100%;
    width: 10rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #437B1E;
    overflow-x: hidden;
    padding-top: 3rem;
}

.cs-ad-sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #f0f0f0;
    display: block;
}

.cs-ad-sidenav a:hover {
    color: #f1f1f1;
    background: #6DB33F;
    cursor: pointer;
    font-weight: 400;
}

.cs-ad-sidenav a.active {
    background: #6DB33F;
    font-weight: 500;
}

.cs-ad-main {
    margin-left: 10rem; /* Same as the width of the sidenav */
    padding: 3rem 1rem;
    min-height: 100%;
}

.cs-ad-container-fluid {
    padding-left: 0;
    padding-right: 0;
    height: inherit;
}

.cs-ad-container-fluid .cs-ad-container-row,
.cs-ad-container-fluid .cs-ad-container-col {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    height: inherit;
}

.cs-ad-content-area {
    padding: 1rem !important;
}


.cs-ad-card {
    padding: 0;
    position: relative;
    height: 100%;
    border: 1px solid rgba(0,0,0,.1);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cs-ad-card .cs-ad-card-header {
    background-color: #f5f5f5;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.cs-ad-card .cs-ad-card-header,
.cs-ad-card .cs-ad-card-footer,
.cs-ad-card .cs-ad-card-body {
    padding: .4rem 0.75rem;
}

.cs-ad-card .cs-ad-card-body {
    padding-top: 1rem;
    /*padding-bottom: 1rem;*/
    background-color: #ffffff;
    height: 100%;
    font-size: 80%;
}

.cs-ad-card .cs-ad-card-header .cs-ad-card-title {
    font-weight: 600;
    text-transform: uppercase;
}

.cs-ad-card-title.cs-ad-card-title-heading {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.75rem;
    border-bottom: 1px solid #f5f5f5;
}

.cs-ad-card .cs-ad-card-footer {
    background-color: #f5f5f5;
    border-top: 1px solid rgba(0,0,0,.1);
}

.cs-ad-table {
    font-size: 0.7rem;
}

.cs-ad-table thead th {
    border-bottom: 0;
    border-top: 0;
}

.cs-ad-table tbody tr:hover {
    cursor: pointer;
}

.cs-ad-form-err {
    color: red;
}

.cs-ad-tags span {
    margin-right: 1rem;
    padding: 0.35rem 0.75rem;
    border-radius: 12px;
    background-color: #0062cc;
    border-color: #005cbf;
    color: #ffffff;
    font-size: 1.15em;
    font-weight: 300;
}

.cs-ad-badge {
    padding: .55em 1em !important;
    font-size: 95% !important;
    margin-top: 10px;
    margin-right: 5px;
}