html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    /*color: #1c8c3b !important;*/
}

/** highlight js customizations **/
.hljs {
    background: #ffffff;
}

.hljs-ln-numbers {
    border-right: 2px solid #1c8c3b;
}

.hljs-ln-n {
    margin-right: 12px !important;
}

.hljs-ln-code {
    padding-left: 12px !important;
}

/** Bootstrap custom styles **/
.col-form-label {
    font-weight: bold;
}

.nav-tabs .nav-link {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #615c5c;
}

.nav-tabs .nav-link.active {
    font-weight: bold;
}

/** Blog related custom styles **/

.bts-header, .mgt-header {
    min-height: 2.5rem;
    background-color: #1c8c3b;
}

.mgt-body {
    padding-top: 2.5rem;
    padding-left: 0;
    padding-right: 0;
    background: #f0f0f0;
}

.mgt-body, .mgt-container, .mgt-left, .mgt-middle, .mgt-right {
    height: inherit;
}

.mgt-container .mgt-left {

}

.mgt-container .mgt-middle {
    padding: 1rem 0rem;
}

.mgt-container .mgt-right {

}

.mgt-card-header, .mgt-card-body, .mgt-card-footer {
    padding: 0.4rem 1rem;
}

.mgt-card-body {
    padding: 0.75rem 1rem;
}

.mgt-card-header .card-title {
    margin-bottom: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
}


.bts-body {
    padding-top: 2.5rem;
    padding-left: 0;
    padding-right: 0;
}

.bts-card {
    width: auto;
}

.bts-card .bts-card-body {
    padding: 1rem;
}

.bts-card .bts-card-body .bts-card-body-content {
    margin-top: 1.25rem;
}

.bts-header .bts-header-container {
    padding-left: 10%;
    padding-right: 10%;
}

.bts-normal-container {
    padding-left: 10%;
    padding-right: 10%;
}

.bts-post > .bts-post-body .bts-post-item {
    padding-bottom: 0.25rem;
}

.bts-post > .bts-post-body .bts-post-item:last-child {
    padding-bottom: 0;
}

.bts-post > .bts-post-body .bts-post-item .bts-post-title {
    font-size: 2.8rem;
    font-weight: bold;
    color: #1c8c3b !important;
}

.bts-post > .bts-post-body .bts-post-item .bts-post-metaTitle {
    font-size: 1.7rem;
    font-weight: 300;
    padding: 0;
    color: #1c8c3b !important;
}

.bts-post > .bts-post-body .bts-post-item .bts-post-summary {
    font-size: 1.1rem;
    font-weight: 300;
    color: #000000;
    padding: 0;
}

.bts-post .bts-post-body .bts-post-item .bts-post-content h1 {
    font-size: 2.35rem !important;
}

.bts-post .bts-post-body .bts-post-item .bts-post-content h2 {
    font-size: 1.95rem !important;
}

.bts-post .bts-post-body .bts-post-item .bts-post-content h3 {
    font-size: 1.75rem !important;
}

.bts-post .bts-post-body .bts-post-item .bts-post-content h4 {
    font-size: 1.5rem !important;
}

.bts-post .bts-post-body .bts-post-item .bts-post-content h5 {
    font-size: 1.35rem !important;
}

.bts-post .bts-post-body .bts-post-item .bts-post-content h6 {
    font-size: 1.15rem !important;
}

.bts-post .bts-post-body .bts-post-item .bts-post-content * code {
    color: #1c8c3b;
    word-break: break-word;
    /*background-color: #e9f9ed;*/
    padding: 0.1rem 0.2rem;
    border-radius: 1px;
    border: 1px solid #e1f3e5;
}

.bts-post .bts-post-body .bts-post-item .bts-post-content a {
    font-weight: 500;
    border-bottom: 2px solid rgba(39,174,96,.1);
    color: #27ae60;
    background-color: transparent;
}

.bts-post .bts-post-body .bts-post-item .bts-post-content * code.hljs {
    border-radius: 0;
    border: 0;
    background-color: #ffffff;
}

.bts-post-form-contents {
    width: 100%;
}

.bts-post-form-tab-contents {
    padding: 1rem;
    border: 1px solid #ddd;
    border-top: 0;
    width: 100%;
}

div.numberedtextarea-wrapper { position: relative; }

div.numberedtextarea-wrapper textarea {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.numberedtextarea-line-numbers {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    border: 0;
    color: #4c4a4a;
    overflow: hidden;
}

div.numberedtextarea-number {
    padding-right: 0;
    text-align: center;
    font-family: Consolas;
}

.bts-textarea-editor {
    width: 100%;
    font-family: Consolas;
    border: none;
    border: none;
    overflow: auto;
    outline: none;

    display: block;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    min-height: 500px;
    resize: none; /*remove the resize handle on the bottom right*/
}