/* You can add global styles to this file, and also import other style files */
:root {
    --cs-theme-primary-color: #4785ff;

    /* https://maketintsandshades.com/#6ccff6 */
    --cs-theme-primary-color-dark-1: #4078e6;
    --cs-theme-primary-color-dark-2: #396acc;
    --cs-theme-primary-color-dark-3: #325db3;
    --cs-theme-primary-color-dark-4: #2b5099;
    --cs-theme-primary-color-dark-5: #244380;
    --cs-theme-primary-color-dark-6: #1c3566;
    --cs-theme-primary-color-dark-7: #15284c;
    --cs-theme-primary-color-dark-8: #0e1b33;

    --cs-theme-primary-color-light-1: #edf3ff;
    --cs-theme-primary-color-light-2: #dae7ff;
    --cs-theme-primary-color-light-3: #c8daff;
    --cs-theme-primary-color-light-4: #b5ceff;
    --cs-theme-primary-color-light-5: #a3c2ff;
    --cs-theme-primary-color-light-6: #91b6ff;
    --cs-theme-primary-color-light-7: #7eaaff;
    --cs-theme-primary-color-light-8: #6c9dff;
    --cs-theme-primary-color-light-9: #5991ff;


    --cs-theme-body-bg-color: #ffffff;
    --cs-theme-fonts-color: #000000;
    --cs-theme-code-block-color: var(--cs-theme-primary-color-dark-1);
    --cs-theme-links-color: var(--cs-theme-primary-color-dark-4);
    --cs-theme-links-border-bottom: 1px solid #ebf2f9;

    --cs-theme-hljs-item-color: #1f1d1d;
    --cs-theme-hljs-bg-color: #ffffff;
    --cs-theme-hljs-ln-numbers-border-right: 2px solid var(--cs-theme-primary-color-dark-1);

    --cs-theme-blockquote-border: 1px solid #eceeef;
    --cs-theme-blockquote-bg-color: #f3f5f7;
    --cs-theme-blockquote-color: #0b4177;

    --cs-theme-meta-badge-border-radius: 4px;

    --cs-theme-meta-badge-categories-bg-color: var(--cs-theme-primary-color-dark-1);
    --cs-theme-meta-badge-categories-border-color: var(--cs-theme-primary-color-dark-2);
    --cs-theme-meta-badge-categories-bg-color-hover: var(--cs-theme-primary-color-dark-2);

    --cs-theme-meta-badge-tags-bg-color: var(--cs-theme-primary-color-dark-4);
    --cs-theme-meta-badge-tags-border-color: var(--cs-theme-primary-color-dark-5);
    --cs-theme-meta-badge-tags-bg-color-hover: var(--cs-theme-primary-color-dark-5);
}

.cs-theme-parent .cs-blog-navbar {
    background: var(--cs-theme-primary-color);
}

.cs-theme-parent .cs-blog-body {
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
    background: var(--cs-theme-body-bg-color);
    min-height: 800px;
}

.cs-theme-parent .cs-blog-container-fluid {
    padding-left: 0;
    padding-right: 0;
    min-height: inherit;
}

.cs-theme-parent .cs-blog-container-fluid .cs-blog-container-row,
.cs-theme-parent .cs-blog-container-fluid .cs-blog-container-col {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    height: inherit;
    width: 100%;
}

.cs-theme-parent .cs-blog-content-area {
    padding: 2rem 0.3rem !important;
}

.cs-theme-parent .cs-blog-post > .cs-blog-post-body .cs-blog-post-item {
    padding-bottom: 1rem;
}

.cs-theme-parent .cs-blog-post > .cs-blog-post-body .cs-blog-post-item:last-child {
    padding-bottom: 0;
}

.cs-theme-parent .cs-blog-post > .cs-blog-post-body .cs-blog-post-item .cs-blog-post-title {
    font-size: 2.75rem;
    font-weight: 800;
    /*color: #0f5dab !important;*/
}

.cs-theme-parent .cs-blog-post > .cs-blog-post-body .cs-blog-post-item .cs-blog-post-metaTitle {
    font-size: 1.3rem;
    font-weight: 300;
    padding: 0;
    /*color: #0f5dab !important;*/
}

.cs-theme-parent .cs-blog-post > .cs-blog-post-body .cs-blog-post-item .cs-blog-post-summary {
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--cs-theme-fonts-color);
    padding: 0;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content h1 {
    font-size: 2.25rem !important;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content h1,
.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content h2,
.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content h3,
.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content h4,
.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content h5,
.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content h6 {
    font-weight: 300;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content h2 {
    font-size: 1.85rem !important;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content h3 {
    font-size: 1.65rem !important;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content h4 {
    font-size: 1.4rem !important;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content h5 {
    font-size: 1.25rem !important;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content h6 {
    font-size: 1.05rem !important;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content a {
    font-weight: 500;
    border-bottom: var(--cs-theme-links-border-bottom);
    color: var(--cs-theme-links-color);
    background-color: transparent;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content a:hover {
    border-bottom: var(--cs-theme-links-border-bottom);
    text-decoration: none;
}


.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content.cs-blog-post-series-content h1 {
    font-size: 2rem !important;
    font-weight: 300;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content.cs-blog-post-series-content a {
    color: var(--cs-theme-links-color);
    border: none;
    font-weight: 400;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content.cs-blog-post-series-content a:hover {
    text-decoration: underline;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content.cs-blog-post-series-content ul {
    list-style-type: circle;
    padding: 0.5rem 0rem 0.5rem 2rem;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content * code.hljs {
    border-radius: 0;
    border: 0;
    background-color: var(--cs-theme-hljs-bg-color);
}

.cs-theme-parent .cs-blog-post-author {
    border-left: 2px solid var(--cs-theme-primary-color-light-6);
    padding-left: 10px;
}

.cs-theme-parent .cs-blog-post-author .cs-blog-post-last-modified,
.cs-theme-parent .cs-blog-post-author .cs-blog-post-authored-by {
    font-weight: 300;
    font-style: normal;
    font-size: 0.9rem;
}

.cs-theme-parent .cs-blog-post-author .cs-blog-post-last-modified {
    font-weight: 100;
}

.cs-theme-parent .cs-blog-post-author .cs-blog-post-authored-by .person {
    color: var(--cs-theme-primary-color-dark-3);
}

.cs-theme-parent .cs-blog-post-meta .cs-blog-post-meta-badge {
    padding: .50em 0.75em !important;
    font-size: 0.70rem !important;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 5px;
}

.cs-theme-parent .cs-blog-post-meta .cs-blog-post-meta-badge:last-child {
    margin-bottom: 0;
}

.cs-theme-parent .cs-blog-post-meta .cs-blog-post-meta-badge a {
    margin-right: 4px;
    padding: 0.25rem 0.55rem;
    border-radius: var(--cs-theme-meta-badge-border-radius);
    color: white !important;
}

.cs-theme-parent .cs-blog-post-meta .cs-blog-post-meta-badge a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.cs-theme-parent .cs-blog-post-meta .cs-blog-post-meta-badge .cs-blog-post-meta-badge-categories {
    background-color: var(--cs-theme-meta-badge-categories-bg-color);
    border-color: var(--cs-theme-meta-badge-categories-border-color);
}

.cs-theme-parent .cs-blog-post-meta .cs-blog-post-meta-badge .cs-blog-post-meta-badge-categories:hover {
    background-color: var(--cs-theme-meta-badge-categories-bg-color-hover);
}

.cs-theme-parent .cs-blog-post-meta .cs-blog-post-meta-badge .cs-blog-post-meta-badge-tags {
    background-color: var(--cs-theme-meta-badge-tags-bg-color);
    border-color: var(--cs-theme-meta-badge-tags-border-color);
}

.cs-theme-parent .cs-blog-post-meta .cs-blog-post-meta-badge .cs-blog-post-meta-badge-tags:hover {
    background-color: var(--cs-theme-meta-badge-tags-bg-color-hover);
}

.blockquote {
    margin: 0;
    padding: 1rem;
    border: var(--cs-theme-blockquote-border);
    border-radius: 2px;
    background: var(--cs-theme-blockquote-bg-color);
    font-size: 0.85rem;
    color: var(--cs-theme-blockquote-color);
}

.blockquote p {
    margin-bottom: 0;
}

/** Home Page Styles **/
.cs-blog-card,
.cs-blog-post-card {
    padding: 1rem;
    min-height: 150px;
    background-color: white;
}

.cs-blog-card.cs-blog-card-guides {
    background-color: #f5f5f5;
    /*background-color: var(--cs-theme-primary-color-light-3);*/
    /*border: 1px solid var(--cs-theme-primary-color-light-4);*/
}

.cs-blog-card.cs-blog-card-tutorials {
    /*background-color: var(--cs-theme-primary-color-light-5);*/
    background-color: #f5f5f5;
}

.cs-blog-card.cs-blog-card-articles {
    /*background-color: var(--cs-theme-primary-color-light-7);*/
    background-color: #f5f5f5;
}

.cs-blog-card .cs-blog-card-title,
.cs-blog-post-card .cs-blog-post-card-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--cs-theme-primary-color-dark-7);
}

.cs-blog-post-card .cs-blog-post-card-body .cs-blog-post-card-post-title  {
    color: var(--cs-theme-primary-color);
    font-weight: 300;
    font-size: 1.35rem;
    padding: 2px 0px;
    border-bottom: 1px solid var(--cs-theme-primary-color-light-1);
}

.cs-blog-post-card .cs-blog-post-card-body .cs-blog-post-card-post-title a:hover {
    cursor: pointer;
    color: var(--cs-theme-primary-color-dark-2);
}

.cs-blog-card .cs-blog-card-body {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 16px;
    height: 100%;
}

.cs-card-blog.guides-alt-style {
    background-color: #ffffff;
}

.cs-card-blog.guides-alt-style .cs-blog-card-body {
    background-color: var(--cs-theme-primary-color-light-3);
}

.cs-blog-panel {
    padding: 0.5rem;
}

.cs-blog-panel h1,
.cs-blog-latest-articles h1 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.cs-blog-panel .cs-blog-badge {
    color: var(--cs-theme-primary-color-dark-7) !important;
    font-weight: 400;
    font-size: 0.75rem;
    border-radius: 1rem;
    padding: .3em .6em;
    cursor: pointer;
    background-color: var(--cs-theme-primary-color-light-3);
}

.cs-blog-badge:hover {
    background-color: var(--cs-theme-primary-color-dark-2);
    text-decoration: underline !important;
    color: white !important;
}

.cs-blog-post-block {
    margin-bottom: 24px;
    padding: 8px;
}

.cs-blog-post-block:hover {
    background-color: #f5f5f5;
}

.cs-blog-post-block-head:hover {
    text-decoration: none;
    cursor: pointer;
}

.cs-blog-post-block a {
    font-size: 1.05rem;
    font-weight: 600;
    color: #000000 !important;
}

.cs-blog-post-block a.btn-sm {
    color: white !important;
    font-weight: 400;
    font-size: 0.85rem;
}

.cs-blog-post-block h1 {
    font-size: 1.15rem;
    font-weight: 600;
    color: #000000 !important;
}

.cs-blog-post-block .cs-blog-post-block-summary {
    margin-top: 12px;
}

.cs-blog-post-block .cs-blog-post-block-summary p {
    font-size: 0.95rem;
    color: rgba(0,0,0,.54)!important;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

img.cs-blog-avatar {
    display: inline-block;
    vertical-align: middle;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    width: 28px!important;
    height: 28px!important;
}

.cs-blog-post-block-meta {
    display: flex;
}

.cs-blog-post-block-meta-item {
    flex: 1;
    vertical-align: middle;
    line-height: 1.15;
}

.cs-blog-avatar-container {
    padding: 2px;
    border: 1px solid var(--cs-theme-primary-color);
    border-radius: 100%;
}

.cs-blog-post-block-meta-item:first-child {
    margin-right: 10px;
}

.cs-blog-post-block-meta-item:last-child {
    flex-grow: 1;
    text-align: right;
}

.cs-blog-post-block-meta-item .meta-author {
    font-weight: 400;
    color: var(--cs-theme-primary-color) !important;
    font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 0.65rem;
}

.cs-blog-post-block-meta-item span {
    color: rgba(0,0,0,.54)!important;
    font-size: 0.75rem;
    font-weight: 500;
}

.cs-blog-post-block-meta-item .meta-time {
    line-height: 2.2;
    color: rgba(0,0,0,.54)!important;
    font-size: 0.6rem;
    font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-weight: 500;
}

.cs-blog-page-footer {
    background-color: #3c3c3c;
}

.cs-blog-page-footer .footer-brand .footer-logo {
    height: 32px;
    width: 32px;
    margin-right: 10px;
}

.cs-blog-page-footer .footer-brand {
    color: white;
    font-size: 1.5rem;
}

.footer-copyright,
.footer-copyright a {
    color: white !important;
}

/** Mega menu ***/

.container {
    margin: 10px auto;
    display: table;
    max-width: 1140px;
    width: 100%;
}
.container:after, .container:before {
    content: "";
    clear : both;
}
nav.menu {
    background: transparent;
    position: relative;
    height: 40px;
    width: 100%;
}

.xs-menu-wrapper {
    height: 100%;
    line-height: 40px;
}

.menu > ul > li {
    list-style: none;
    display: inline-block;
    color: #fff;
    line-height: 40px;

}
.menu > ul li a, .xs-menu li a {
    text-decoration: none;
    color: #fff;
    display:block;
    padding: 0px 24px;
}
.menu > ul li a:hover {
    background: var(--cs-theme-primary-color-dark-3);
    color: #fff;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}
.active{
    background: var(--cs-theme-primary-color-dark-4) !important;

}
.displaynone{
    display: none;
}
.xs-menu-cont{
    display:none;
}
.xs-menu-cont > a {
    background: none repeat scroll 0 0 transparent;
    border-radius: 3px;
    padding: 3px 6px;
    display: block;
    border-bottom:1px solid transparent;
    box-shadow: 0 1px 2px transparent;
    -webkit-box-shadow: 0 1px 2px transparent;
    -moz-box-shadow: 0 1px 2px transparent;
}
.xs-menu-cont > a:hover{
    cursor: pointer;
}

.xs-menu li {
    color: #fff;
    padding: 14px 30px;
    border-bottom: 1px solid transparent;
    background: transparent;

}
.xs-menu  a{
    text-decoration:none;
}

.mega-menu {
    background: none repeat scroll 0 0 var(--cs-theme-primary-color-dark-3);
    left: 0;
    margin-top: 8px;
    position: absolute;
    width: 100%;
    padding:15px;
    display:none;
    transition-duration: 0.9s;

}
#menutoggle i {
    color: #fff;
    font-size: 33px;
    margin: 0;
    padding: 0;
}


/*--column--*/
.mm-6column:after, .mm-6column:before, .mm-3column:after, .mm-3column:before{
    content:"";
    display:table;
    clear:both;


}
.mm-6column, .mm-3column {
    float: left;
    position: relative;
}
.mm-6column {
    width: 50%;
}
.mm-3column {
    width: 25%;
}
.responsive-img {
    display: block;
    max-width: 100%;

}
.left-images{
    margin-right:25px;
}
.left-images, .left-categories-list {
    float: left;
}
.categories-list li {
    display: block;
    line-height: normal;
    margin: 0;
    padding: 5px 0;
}
.categories-list li :hover{
    background:inherit !important;
}
.left-images > p {
    background: none repeat scroll 0 0 #ff7f50;
    display: block;
    font-size: 18px;
    line-height: normal;
    margin: 0;
    padding: 5px 14px;
}
.categories-list span {
    font-size: 18px;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: white;
}

.categories-list li {
    color: white;
}

.mm-view-more{
    background: none repeat scroll 0 0 #ff7f50;
    color: #fff;
    display: inline !important;
    line-height: normal;
    padding: 5px 8px !important;
    margin-top:10px;
}
.display-on{
    display:block;
    transition-duration: 0.9s;
}
.drop-down > a:after{
    content:"▼";
    color:#fff;
    font-style: normal;
    margin-left: 5px;


}

.btn-mega-menu {
    background-color: var(--cs-theme-primary-color-dark-5);
}
/*MediaQuerys*/
@media (max-width: 600px) {
    .menu {
        display:none;
    }
    .xs-menu li a {

        padding:0px;
    }
    .xs-menu-cont{
        display:block ;
    }
}


/*Animation--*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

