/* You can add global styles to this file, and also import other style files */
:root {
    --cs-theme-primary-color: #4785ff;

    /* https://maketintsandshades.com/#6ccff6 */
    --cs-theme-primary-color-dark-1: #4078e6;
    --cs-theme-primary-color-dark-2: #396acc;
    --cs-theme-primary-color-dark-3: #325db3;
    --cs-theme-primary-color-dark-4: #2b5099;
    --cs-theme-primary-color-dark-5: #244380;
    --cs-theme-primary-color-dark-6: #1c3566;
    --cs-theme-primary-color-dark-7: #15284c;
    --cs-theme-primary-color-dark-8: #0e1b33;

    --cs-theme-primary-color-light-1: #edf3ff;
    --cs-theme-primary-color-light-2: #dae7ff;
    --cs-theme-primary-color-light-3: #c8daff;
    --cs-theme-primary-color-light-4: #b5ceff;
    --cs-theme-primary-color-light-5: #a3c2ff;
    --cs-theme-primary-color-light-6: #91b6ff;
    --cs-theme-primary-color-light-7: #7eaaff;
    --cs-theme-primary-color-light-8: #6c9dff;
    --cs-theme-primary-color-light-9: #5991ff;


    --cs-theme-body-bg-color: #ffffff;
    --cs-theme-fonts-color: #000000;
    --cs-theme-code-block-color: var(--cs-theme-primary-color-dark-1);
    --cs-theme-links-color: var(--cs-theme-primary-color-dark-4);
    --cs-theme-links-border-bottom: 1px solid #ebf2f9;

    --cs-theme-hljs-item-color: #1f1d1d;
    --cs-theme-hljs-bg-color: #ffffff;
    --cs-theme-hljs-ln-numbers-border-right: 2px solid var(--cs-theme-primary-color-dark-1);

    --cs-theme-blockquote-border: 1px solid #eceeef;
    --cs-theme-blockquote-bg-color: #f3f5f7;
    --cs-theme-blockquote-color: #0b4177;

    --cs-theme-meta-badge-border-radius: 4px;

    --cs-theme-meta-badge-categories-bg-color: var(--cs-theme-primary-color-dark-1);
    --cs-theme-meta-badge-categories-border-color: var(--cs-theme-primary-color-dark-2);
    --cs-theme-meta-badge-categories-bg-color-hover: var(--cs-theme-primary-color-dark-2);

    --cs-theme-meta-badge-tags-bg-color: var(--cs-theme-primary-color-dark-4);
    --cs-theme-meta-badge-tags-border-color: var(--cs-theme-primary-color-dark-5);
    --cs-theme-meta-badge-tags-bg-color-hover: var(--cs-theme-primary-color-dark-5);
}

.cs-theme-parent .cs-blog-navbar {
    background: var(--cs-theme-primary-color);
    padding: 0rem 0.25rem;
}

.cs-theme-parent .cs-blog-body {
    padding-top: 2.25rem;
    padding-left: 0;
    padding-right: 0;
    background: var(--cs-theme-body-bg-color);
    min-height: inherit;
}

.cs-theme-parent .cs-blog-container-fluid {
    padding-left: 0;
    padding-right: 0;
    min-height: inherit;
}

.cs-theme-parent .cs-blog-container-fluid .cs-blog-container-row,
.cs-theme-parent .cs-blog-container-fluid .cs-blog-container-col {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    height: inherit;
    width: 100%;
}

.cs-theme-parent .cs-blog-content-area {
    padding: 2rem 0.3rem !important;
}

.cs-theme-parent .cs-blog-post > .cs-blog-post-body .cs-blog-post-item {
    padding-bottom: 1rem;
}

.cs-theme-parent .cs-blog-post > .cs-blog-post-body .cs-blog-post-item:last-child {
    padding-bottom: 0;
}

.cs-theme-parent .cs-blog-post > .cs-blog-post-body .cs-blog-post-item .cs-blog-post-title {
    font-size: 2.75rem;
    font-weight: 800;
    /*color: #0f5dab !important;*/
}

.cs-theme-parent .cs-blog-post > .cs-blog-post-body .cs-blog-post-item .cs-blog-post-metaTitle {
    font-size: 1.3rem;
    font-weight: 300;
    padding: 0;
    /*color: #0f5dab !important;*/
}

.cs-theme-parent .cs-blog-post > .cs-blog-post-body .cs-blog-post-item .cs-blog-post-summary {
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--cs-theme-fonts-color);
    padding: 0;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content h1 {
    font-size: 2.25rem !important;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content h2,
.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content h3,
.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content h4,
.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content h5,
.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content h6 {
    font-weight: 300;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content h2 {
    font-size: 1.85rem !important;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content h3 {
    font-size: 1.65rem !important;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content h4 {
    font-size: 1.4rem !important;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content h5 {
    font-size: 1.25rem !important;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content h6 {
    font-size: 1.05rem !important;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content * code {
    color: var(--cs-theme-code-block-color);
    word-break: break-word;
    /*background-color: #e9f9ed;*/
    padding: 0.1rem 0.2rem;
    border-radius: 1px;
    /*border: 1px solid #eceeef;*/
    -webkit-font-feature-settings: "liga" on, "calt" on;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'JetBrains Mono';
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content * .hljs-section,
.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content * .hljs-title,
.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content * .hljs-params,
.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content * .hljs-ln-code {
    color: var(--cs-theme-hljs-item-color);
    font-weight: 400;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content * .hljs-keyword,
.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content * .hljs-string,
.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content * .hljs-tag {
    color: var(--cs-theme-code-block-color);
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content a {
    font-weight: 500;
    border-bottom: var(--cs-theme-links-border-bottom);
    color: var(--cs-theme-links-color);
    background-color: transparent;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content a:hover {
    border-bottom: var(--cs-theme-links-border-bottom);
    text-decoration: none;
}


.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content.cs-blog-post-series-content h1 {
    font-size: 2rem !important;
    font-weight: 300;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content.cs-blog-post-series-content a {
    color: var(--cs-theme-links-color);
    border: none;
    font-weight: 400;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content.cs-blog-post-series-content a:hover {
    text-decoration: underline;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content.cs-blog-post-series-content ul {
    list-style-type: circle;
    padding: 0.5rem 0rem 0.5rem 2rem;
}

.cs-theme-parent .cs-blog-post .cs-blog-post-body .cs-blog-post-item .cs-blog-post-content * code.hljs {
    border-radius: 0;
    border: 0;
    background-color: var(--cs-theme-hljs-bg-color);
}

.cs-theme-parent .cs-blog-post-author {
    border-left: 2px solid var(--cs-theme-primary-color-light-6);
    padding-left: 10px;
}

.cs-theme-parent .cs-blog-post-author .cs-blog-post-last-modified,
.cs-theme-parent .cs-blog-post-author .cs-blog-post-authored-by {
    font-weight: 300;
    font-style: normal;
    font-size: 0.9rem;
}

.cs-theme-parent .cs-blog-post-author .cs-blog-post-last-modified {
    font-weight: 100;
}

.cs-theme-parent .cs-blog-post-author .cs-blog-post-authored-by .person {
    color: var(--cs-theme-primary-color-dark-3);
}

.cs-theme-parent .cs-blog-post-meta .cs-blog-post-meta-badge {
    padding: .50em 0.75em !important;
    font-size: 0.70rem !important;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 5px;
}

.cs-theme-parent .cs-blog-post-meta .cs-blog-post-meta-badge:last-child {
    margin-bottom: 0;
}

.cs-theme-parent .cs-blog-post-meta .cs-blog-post-meta-badge span {
    margin-right: 4px;
    padding: 0.25rem 0.55rem;
    border-radius: var(--cs-theme-meta-badge-border-radius);
}

.cs-theme-parent .cs-blog-post-meta .cs-blog-post-meta-badge span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.cs-theme-parent .cs-blog-post-meta .cs-blog-post-meta-badge .cs-blog-post-meta-badge-categories {
    background-color: var(--cs-theme-meta-badge-categories-bg-color);
    border-color: var(--cs-theme-meta-badge-categories-border-color);
}

.cs-theme-parent .cs-blog-post-meta .cs-blog-post-meta-badge .cs-blog-post-meta-badge-categories:hover {
    background-color: var(--cs-theme-meta-badge-categories-bg-color-hover);
}

.cs-theme-parent .cs-blog-post-meta .cs-blog-post-meta-badge .cs-blog-post-meta-badge-tags {
    background-color: var(--cs-theme-meta-badge-tags-bg-color);
    border-color: var(--cs-theme-meta-badge-tags-border-color);
}

.cs-theme-parent .cs-blog-post-meta .cs-blog-post-meta-badge .cs-blog-post-meta-badge-tags:hover {
    background-color: var(--cs-theme-meta-badge-tags-bg-color-hover);
}

.blockquote {
    margin: 0;
    padding: 1rem;
    border: var(--cs-theme-blockquote-border);
    border-radius: 2px;
    background: var(--cs-theme-blockquote-bg-color);
    font-size: 0.85rem;
    color: var(--cs-theme-blockquote-color);
}

.blockquote p {
    margin-bottom: 0;
}

/** highlight js customizations **/
.hljs {
    background: var(--cs-theme-hljs-bg-color);
}

.hljs-ln-numbers {
    border-right: var(--cs-theme-hljs-ln-numbers-border-right);
}

.hljs-ln-n {
    margin-right: 12px !important;
}

.hljs-ln-code {
    padding-left: 12px !important;
}

/** Home Page Styles **/
.cs-blog-card {
    padding: 1rem;
    min-height: 200px;
}

.cs-blog-card.cs-blog-card-guides {
    background-color: var(--cs-theme-primary-color-light-3);
    /*border: 1px solid var(--cs-theme-primary-color-light-4);*/
}

.cs-blog-card.cs-blog-card-tutorials {
    background-color: var(--cs-theme-primary-color-light-5);
}

.cs-blog-card.cs-blog-card-articles {
    background-color: var(--cs-theme-primary-color-light-7);
}

.cs-blog-card .cs-blog-card-title {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cs-theme-primary-color-dark-7);
}

.cs-blog-card .cs-blog-card-body {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 16px;
    height: 100%;
}

.cs-card-blog.guides-alt-style {
    background-color: #ffffff;
}

.cs-card-blog.guides-alt-style .cs-blog-card-body {
    background-color: var(--cs-theme-primary-color-light-3);
}

/*** Home Page Menu ***/
* {
    box-sizing: border-box;
}

.cs-blog-navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.cs-blog-navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.cs-blog-navbar-dropdown {
    float: left;
    overflow: hidden;
}

.cs-blog-navbar-dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.cs-blog-navbar a:hover, .cs-blog-navbar-dropdown:hover .dropbtn {
    background-color: red;
}

.cs-blog-navbar-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.cs-blog-navbar-dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
}

.cs-blog-navbar-dropdown:hover .cs-blog-navbar-dropdown-content {
    display: block;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: #ccc;
    height: 250px;
}

.column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.column a:hover {
    background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        height: auto;
    }
}