<!doctype html>
<html lang="en">
<head>
    <title>Scale Java - Admin</title>
    {#include adminHead}
    {/include}
</head>
<body>
{#include adminHeader}
{/include}

<main class="sj-content">
    <div class="row">
        <div class="w-50 mx-auto">
            <div class="card sj-card">
                <div class="card-header sj-card-header">
                    <span class="sj-card-title">Login</span>
                </div>
                <div class="card-body sj-card-body">
                    {#if invalid.length() > 0}
                    <div class="alert alert-warning">
                        Invalid username / password
                    </div>
                    <br/>
                    {/if}
                    <form method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Username</label>
                            <input name="username" type="text" class="form-control input-lg"
                                   id="exampleInputEmail1" aria-describedby="emailHelp"
                                   placeholder="Enter username">
                            <small id="usernameHelp" class="form-text text-muted">We'll never share your
                                details with anyone else(except us, hehehe).</small>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input name="password" type="password" class="form-control input-lg"
                                   id="password" placeholder="Password">
                        </div>

                        <button type="submit" class="sj-tag-2">Submit</button>
                        &nbsp;
                        <button type="reset" class="sj-tag-2">Clear</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{#include adminFooter}
{/include}
</body>
</html>