<!doctype html>
<html lang="en">
<head>
    <title>Scale Java - Admin</title>
    {#include adminHead}
    {/include}
</head>
<body>
{#include adminHeader}
{/include}
<main class="sj-content">
    <div class="card sj-card">
        <div class="card-header sj-card-header">
            <div class="clearfix">
                <span class="sj-card-title">Post Management</span>
                <a type="button" class="sj-tag-3 float-right" href="/admin/posts/create">Add</a>
            </div>
        </div>
        <div class="card-body sj-card-body">
            <table class="table table-sm table-hover sj-table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Meta title</th>
                    <th>Slug</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th>Tags</th>
                    <th>Status</th>
                    <th>Action</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {#for post in posts}
                <tr>
                    <td class="sj-item-title">{post.title}</td>
                    <td>{post.metaTitle}</td>
                    <td> <a class="sj-link" href="/{post.slug}">{post.slug}</a> </td>
                    <td>{post.person.firstName}</td>
                    <td>
                        {#for category in post.categoryCandidates}
                        <span class="sj-tag-0 sj-tag-mini">{category.title}</span>
                        {/for}
                    </td>
                    <td>
                        {#for tag in post.tagCandidates}
                        <span class="sj-tag-1 sj-tag-mini">{tag.tagName}</span>
                        {/for}
                    </td>
                    <td>{post.postStatus}</td>
                    <td>
                        <a class="sj-tag-2 sj-tag-mini" href="/admin/posts/edit/{post.id}">Edit</a>
                    </td>
                    <td>
                        {#if post.isPublished() }
                        <i style="color: GREEN; font-size: 16pt" class="fa fa-check" aria-hidden="true"></i>
                        {#else}
                        <i style="color: RED; font-size: 16pt" class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        {/if}
                    </td>
                </tr>
                {/for}
                </tbody>
            </table>
        </div>
    </div>
</main>
{#include adminFooter}
{/include}
</body>
</html>