<!doctype html>
<html lang="en">
<head>
    <title>Scale Java - Admin</title>
    {#include adminHead}
    {/include}
</head>
<body>
{#include adminHeader}
{/include}
<main class="sj-content">
    <div class="card sj-card">
        <div class="card-header sj-card-header">
            <span class="sj-card-title">Role Management</span>
        </div>
        <div class="card-body sj-card-body">
            <div class="row">
                <div class="col-sm-8">
                    {#if roles.size() == 0}
                    <p>No roles</p>
                    {#else}
                    <table class="table table-sm table-hover sj-table">
                        <thead>
                        <tr>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        {#for role in roles}
                        <tr>
                            <td class="sj-item-title">{role.roleName}</td>
                            <td>
                                <a class="sj-tag-2 sj-tag-mini" href="/admin/roles/edit/{role.roleId}">Edit</a>
                            </td>
                        </tr>
                        {/for}
                        </tbody>
                    </table>
                    {/if}
                </div>
                <div class="col-sm-4">
                    <div style="margin-left: 16px">
                        <div class="row form-group">
                            <span class="sj-card-title sj-card-title-heading">Add Role</span>
                        </div>
                        <div class="row sj-container-row form-group form-inline">
                            <form action="/roles" method="post" enctype="application/x-www-form-urlencoded">
                                <input type="hidden" name="roleId" id="roleId" value="0">
                                <input type="text" class="form-control" name="roleName" id="roleName"
                                       placeholder="Enter role name">
                                <button type="submit" class="sj-tag-2" style="margin-left: 10px;">
                                    Add role
                                </button>
                            </form>
                        </div>
                        <div class="row sj-container-row form-group">
                            <div id="errorContainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{#include adminFooter}
{/include}
</body>
</html>