<!doctype html>
<html lang="en">
<head>
    <title>Scale Java - Admin</title>
    {#include adminHead}
    {/include}
</head>
<body>
{#include adminHeader}
{/include}
<main class="sj-content">
    <div class="card sj-card">
        <div class="card-header sj-card-header">
            <span class="sj-card-title">Tag Management</span>
        </div>
        <div class="card-body sj-card-body">
            <div class="row">
                <div class="col-sm-8">
                    {#if tags.size() == 0}
                    <p>No tags</p>
                    {#else}
                    <table class="table table-sm table-hover sj-table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Slug</th>
                        </tr>
                        </thead>
                        <tbody>
                        {#for tag in tags}
                        <tr>
                            <td class="sj-item-title">{tag.tagName}</td>
                            <td><a href="/tag/{tag.slug}" class="sj-link">{tag.slug}</a></td>
                            <td>
                                <a class="sj-tag-2 sj-tag-mini" href="/admin/tags/edit/{tag.tagId}">Edit</a>
                            </td>
                        </tr>
                        {/for}
                        </tbody>
                    </table>
                    {/if}
                </div>
                <div class="col-sm-4">
                    <div style="margin-left: 16px">
                        <div class="row form-group">
                            <span class="sj-card-title sj-card-title-heading">Add Tag</span>
                        </div>
                        <div class="row sj-container-row form-group form-inline">
                            <form action="/tags" method="post" enctype="application/x-www-form-urlencoded">
                                <input type="text" class="form-control" name="tagName" id="tagName"
                                       placeholder="Enter tag name">
                                <button type="submit" class="sj-tag-2" style="margin-left: 10px;">
                                    Add tag
                                </button>
                            </form>
                        </div>
                        <div class="row sj-container-row form-group">
                            <div id="errorContainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{#include adminFooter}
{/include}
</body>
</html>