<!doctype html>
<html lang="en">
<head>
    <title>Scale Java - Admin</title>
    {#include adminHead}
    {/include}
</head>
<body>
{#include adminHeader}
{/include}
<main class="sj-content">
    <div class="card sj-card">
        <div class="card-header sj-card-header">
            <div class="clearfix">
                <span class="sj-card-title">User Management</span>
                <a type="button" class="sj-tag-3 float-right" href="/admin/users/create">Add</a>
            </div>
        </div>
        <div class="card-body sj-card-body">
            <table class="table table-sm table-hover sj-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {#for user in users}
                <tr>
                    <td class="sj-item-title">{user.firstName} {user.lastName}</td>
                    <td>{user.username}</td>
                    <td>{user.email}</td>
                    <td>
                        {#for role in user.roles}
                        <span class="sj-tag-1 sj-tag-mini">{role.roleName}</span>
                        {/for}
                    </td>
                    <td>{user.status}</td>
                </tr>
                {/for}
                </tbody>
            </table>
        </div>
    </div>
</main>
{#include adminFooter}
{/include}
</body>
</html>