<!doctype html>
<html lang="en">
<head>
    {#include head}{/include}
</head>
<body class="cs-theme-parent">

{#include header} {/include}

<div class="cs-blog-body">
    <div class="container-fluid cs-blog-container-fluid">
        <div class="row cs-blog-container-row">
            <div class="col-sm-1 cs-blog-container-col">
                &nbsp;
            </div>
            <div class="col-sm-8 cs-blog-container-col cs-blog-content-area">
                <div class="cs-blog-post cs-blog-post-series">
                    <div class="cs-blog-post-body">
                        <div class="cs-blog-post-item">
                            <h1 class="cs-blog-post-title">
                                {post.title}
                            </h1>
                        </div>
                        <div class="cs-blog-post-item">
                            <div class="clearfix">
                                <div class="cs-blog-post-author float-left">
                                    <div class="cs-blog-post-block-meta-item">
                                        <div class="meta-time">
                                            <span>{post.publishedAt}</span>
                                            <span>.</span>
                                            <span>{post.readTime}</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="cs-blog-post-meta float-right">
                            <div class="cs-blog-post-meta-badge">
                                {#for meta in post.categories}
                                <a href="/category/{meta.slug}"
                                   class="cs-blog-post-meta-badge-categories">{meta.name}</a>
                                {/for}
                            </div>

                        </div>

                        <div class="cs-blog-post-item">
                            <h1 class="cs-blog-post-metaTitle">
                                {post.metaTitle}
                            </h1>
                        </div>
                        <div class="cs-blog-post-item">
                            <div class="cs-blog-post-content {post.seriesOrGuide ? 'cs-blog-post-series-content' : ''}">
                                {post.htmlContent.raw}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cs-blog-post-meta ">
                    <div class="cs-blog-post-meta-badge">
                        {#for meta in post.tags}
                        <a href="/tag/{meta.slug}" class="cs-blog-post-meta-badge-tags">{meta.name}</a>
                        {/for}
                    </div>
                </div>
                <div class="cs-blog-summary">
                    <div class="float-left">
                        <div class="clap-link" onclick="cheers()">
                            <i class="fab fas fa-glass-cheers"></i>&nbsp;&nbsp;<span id="likeCount">{post.likes}</span>
                            cheers!
                        </div>
                    </div>
                    <div class="float-right ">
                        <a href="https://twitter.com/intent/tweet?text={post.title}&url={baseUrl}{post.slug}"><i
                                class="fab fa-twitter" aria-hidden="true"></i></a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url={baseUrl}{post.slug}&title={post.title}"><i
                                class="fab fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                &nbsp;
            </div>
        </div>
    </div>
</div>

{#include footer}
{/include}

<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/highlight.min.js"></script>
<script type="text/javascript">
    hljs.configure();
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre code').forEach((block) => {
            hljs.highlightBlock(block);
            //hljs.initLineNumbersOnLoad(block);
        });
    });

    let likes = {post.likes};

    function cheers() {
        $.ajax({
          url: '/{post.slug}/like',
          type: 'PUT',
          success: function(data) {
            likes ++;
            $("#likeCount").html(likes)
          }
        });
    }
</script>
</body>
</html>