{#if notFound}
<div style="height: 40px; margin-bottom: 80px">
    <div class="alert alert-warning" role="alert">
        Sorry, looks like the link is broken.
        <br/><br/>
        Maybe look at what other things we have written, while we get to fixing this issue.
    </div>
</div>
{/if}

{#if renderingError}
<div style="height: 40px; margin-bottom: 80px">
    <div class="alert alert-warning" role="alert">
        Sorry, we are not able to render the page.
        <br/><br/>
        Our code monkeys have been notified to fix the issue, meanwhile; please checkout other posts.
    </div>
</div>
{/if}