
<!-- Footer -->
<footer class="cs-blog-page-footer font-small blue pt-4">

    <div class="container-fluid cs-blog-container-fluid">
        <div class="row cs-blog-container-row">
            <div class="col-sm-1 cs-blog-container-col">
                &nbsp;
            </div>
            <div class="col-sm-10 cs-blog-container-col">
                <div class="mm-3column">
                    <a class="navbar-brand mb-0 footer-brand" href="/blog">
                        <img class="footer-logo" src="/svgs/blog/leaf.svg" alt="Cubestack blog">
                        Cubestack <i>Blog</i>
                    </a>
                </div>
                <div class="mm-3column">
                            <span class="categories-list">
                                <ul>
                                 <span>Java</span>
                                    <li><a href="/category/java">Java</a></li>
                                    <li><a class="mm-view-more" href="/log/category/java">View more →</a></li>
                                </ul>
                            </span>
                </div>
                <div class="mm-3column">
                            <span class="categories-list">
                                <ul>
                                 <span>Spring</span>
                                    <li><a href="/category/spring">Spring</a></li>
                                    <li><a class="mm-view-more" href="/log/category/spring">View more →</a></li>
                                </ul>
                            </span>
                </div>
            </div>
            <div class="col-sm-1 cs-blog-container-col">
                &nbsp;
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://cubestack.in"> www.cubestack.in</a>
        </div>
    </div>

</footer>
<!-- Footer -->
