
<!-- Footer -->
<footer class="cs-blog-page-footer font-small blue pt-4">

    <div class="container-fluid cs-blog-container-fluid">
        <div class="row cs-blog-container-row">
            <div class="col-sm-1 cs-blog-container-col">
                &nbsp;
            </div>
            <div class="col-sm-10 cs-blog-container-col">
                <div class="row">
                    <div class="col-sm-4">
                        <a class="cs-blog-logo-container cs-blog-logo-footer" title="Scale Java" href="/">
                            <img class="cs-blog-navbar-logo" src="/svgs/blog/mug.svg" height="16px" width="16px" alt="Scale Java">
                            <div class="cs-blog-logo-text">
                                <span>ScaleJava</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <span class="categories-list">
                            <ul>
                             <span>Java</span>
                                <li><a href="/category/java">Java</a></li>
                                <li class="mm-view-more-box"><a class="mm-view-more" href="/category/java">View more →</a></li>
                            </ul>
                        </span>
                    </div>
                    <div class="col-sm-4">
                        <span class="categories-list">
                            <ul>
                             <span>Spring</span>
                                <li><a href="/category/spring">Spring</a></li>
                                <li class="mm-view-more-box"><a class="mm-view-more" href="/category/spring">View more →</a></li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 cs-blog-container-col">
                &nbsp;
            </div>
        </div>
    </div>

</footer>
<!-- Footer -->
