<footer class="sj-footer">
    <nav class="sj-bottom-nav">
        <a href="/" class="sj-bottom-nav-logo">
            <img class="sj-bottom-nav-logo-img" src="/icons/logo-dark-full.png" title="Scale Java" height="50px"/>
        </a>
        <ul class="sj-bottom-nav-list">
            <li class="sj-bottom-nav-list-item"><a class="sj-bottom-nav-list-link" href="/category/java">Java</a></li>
            <li class="sj-bottom-nav-list-item"><a class="sj-bottom-nav-list-link" href="/category/spring">Spring</a></li>
        </ul>
    </nav>
</footer>