
<header class="navbar fixed-top navbar-dark cs-blog-navbar">
    <div class="container-fluid cs-blog-container-fluid">
        <div class="row cs-blog-container-row">
            <div class="col-sm-1 cs-blog-container-col">
                &nbsp;
            </div>
            <div class="col-sm-10 cs-blog-container-col">
                <nav class="navbar navbar-expand-lg navbar-light cs-blog-navbar">
                    <a class="cs-blog-logo-container" title="Scale Java" href="/">
                        <img class="cs-blog-navbar-logo" src="/svgs/blog/mug.svg" height="16px" width="16px" alt="Scale Java">
                        <div class="cs-blog-logo-text">
                            <span>ScaleJava</span>
                        </div>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/category/java">Java</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/category/spring">Spring</a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>
            <div class="col-sm-1 cs-blog-container-col">
                &nbsp;
            </div>
        </div>
    </div>
</header>