
<header class="navbar fixed-top navbar-dark cs-blog-navbar">
    <div class="container-fluid cs-blog-container-fluid">
        <div class="row cs-blog-container-row">
            <div class="col-sm-1 cs-blog-container-col">
                &nbsp;
            </div>
            <div class="col-sm-10 cs-blog-container-col">
                <nav class="navbar navbar-expand-lg navbar-light cs-blog-navbar">
                    <a class="cs-blog-logo-container" title="Scale Java" href="/">
                        <img class="cs-blog-navbar-logo" src="/svgs/blog/mug.svg" height="16px" width="16px" alt="Scale Java">
                        <div class="cs-blog-logo-text">
                            <span>ScaleJava</span>
                        </div>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Java</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Spring</a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <!--<div class="clearfix">
                    <div class="float-left">
                        <a class="cs-blog-logo-container" title="Scale Java" href="/">
                            <img class="cs-blog-navbar-logo" src="/svgs/blog/mug.svg" height="16px" width="16px" alt="Scale Java">
                            <div class="cs-blog-logo-text">
                                <span>ScaleJava</span>
                            </div>
                        </a>
                    </div>
                    <div class="xs-menu-wrapper float-right">
                        <nav class="navbar navbar-inverse clearfix">
                            <div class="xs-menu-cont">
                                <a id="menutoggle"><i class="fa fa-align-justify"></i> </a>
                                <nav class="xs-menu displaynone">
                                    <ul>
                                        <li class="active">
                                            <a href="/">Home</a>
                                        </li>
                                        <li>
                                            <a href="/category/java">Java</a>
                                        </li>
                                        <li>
                                            <a href="/category/spring">Spring</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <nav class="menu float-right">
                                <ul class="mega-menu-ul">
                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                    <li>
                                        &lt;!&ndash;<li class="drop-down">&ndash;&gt;
                                        <a href="/category/java">Java</a>
                                        &lt;!&ndash;<div class="mega-menu fadeIn animated">
                                            <div class="mm-3column">
                                                <span class="categories-list">
                                                    <ul>
                                                     <span>Java 8</span>
                                                        <li>Java Streams
                                                        <li>Java IO
                                                        <li><a class="mm-view-more" href="#">View more →</a></li>
                                                    </ul>
                                                </span>
                                            </div>
                                            <div class="mm-3column">
                                                <span class="categories-list">
                                                    <ul>
                                                        <span>Collections</span>
                                                        <li>List</li>
                                                        <li>Set</li>
                                                        <li>Map</li>
                                                        <li>Generics</li>
                                                        <li><a class="mm-view-more" href="#">View more →</a></li>
                                                    </ul>
                                                </span>
                                            </div>
                                        </div>&ndash;&gt;
                                    </li>
                                    <li>
                                        &lt;!&ndash;<li class="drop-down">&ndash;&gt;
                                        <a href="/category/spring">Spring</a>
                                        &lt;!&ndash;<div class="mega-menu fadeIn animated">
                                            <div class="mm-3column">
                                                <span class="categories-list">
                                                    <ul>
                                                     <span>REST</span>
                                                        <li>Java Streams
                                                        <li>Java IO
                                                        <li><a class="mm-view-more" href="#">View more →</a></li>
                                                    </ul>
                                                </span>
                                            </div>
                                            <div class="mm-3column">
                                                <span class="categories-list">
                                                    <ul>
                                                        <span>Spring</span>
                                                        <li>List</li>
                                                        <li>Set</li>
                                                        <li>Map</li>
                                                        <li>Generics</li>
                                                        <li><a class="mm-view-more" href="#">View more →</a></li>
                                                    </ul>
                                                </span>
                                            </div>
                                            <div class="mm-3column">
                                                <span class="categories-list">
                                                    <ul>
                                                        <span>Spring Boot</span>
                                                        <li>List</li>
                                                        <li>Set</li>
                                                        <li>Map</li>
                                                        <li>Generics</li>
                                                        <li><a class="mm-view-more" href="#">View more →</a></li>
                                                    </ul>
                                                </span>
                                            </div>
                                        </div>&ndash;&gt;
                                    </li>
                                    &lt;!&ndash;<li>
                                        <a href="#">Guides</a>
                                    </li>
                                    <li>
                                        <a href="#">Tutorials</a>
                                    </li>
                                    <li style="float:right;">
                                        <a href="#">Follow Me</a>
                                    </li>&ndash;&gt;

                                </ul>
                            </nav>
                        </nav>
                    </div>
                </div>-->
            </div>
            <div class="col-sm-1 cs-blog-container-col">
                &nbsp;
            </div>
        </div>
    </div>
</header>