<header class="sj-header">
    <nav class="sj-top-nav sj-top-nav-hide">
        <a href="/" class="sj-top-nav-logo">
            <img class="sj-nav-logo-img" src="/icons/logo-full.png" title="Scale Java" height="36px"/>
        </a>
        <ul class="sj-top-nav-list">
            <li class="sj-top-nav-list-item"><a class="sj-top-nav-list-link" href="/">Home</a></li>
            <li class="sj-top-nav-list-item"><a class="sj-top-nav-list-link" href="/category/java">Java</a></li>
            <li class="sj-top-nav-list-item"><a class="sj-top-nav-list-link" href="/category/spring">Spring</a></li>
        </ul>
    </nav>
    <label class="sj-top-mobile-nav-button" for="hamburger" aria-label="menu">
        <img class="sj-hamburger-menu" src="/svgs/blog/menu.svg">
    </label>
    <input class="sj-top-mobile-nav-checkbox" type="checkbox" id="hamburger">
    <nav class="sj-top-mobile-nav sj-top-nav-hide">
        <ul class="sj-top-mobile-nav-list">
            <li class="sj-top-mobile-nav-list-item"><a class="sj-top-mobile-nav-list-link" href="/">Home</a></li>
            <li class="sj-top-mobile-nav-list-item"><a class="sj-top-mobile-nav-list-link" href="/category/java">Java</a></li>
            <li class="sj-top-mobile-nav-list-item"><a class="sj-top-mobile-nav-list-link" href="/category/spring">Spring</a></li>
        </ul>
    </nav>
</header>